

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #7cd8f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  background-color: #0e0c0c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #76abae;
  padding: 20px;
  color: white;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #35393f7c;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  color: #e0e0e0;
}

h1 {
  color: #cdd0be;
}
